/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2016, 9:10:28 PM
    Author     : Chris
*/

/***I DID STUFF TO TEST GITHUB****/

body {
    border-style: none;
    background-color: #cec9c4;
    margin: 0px;
    overflow-x:hidden;
}

.section{
    border-color: transparent;
    border-style: none;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    min-width: 640px;
    min-height: 480px;
    
    background-size: 100% 100%;
    
}

#header {
    font-family: "Georgia";
    background-color: black;
    text-align: center;
    border-color: darkgray;
    border-style: groove;
    color: white;
    font-size: xx-large;
    width: 100%;
    position: fixed;
    height: 55px;
    line-height: 50px;
}

/*
#LeftBar{
    background: #c2c2d6;
    
    width: 150px;
    height: 753px;
    
    text-align: center;
    border-color: black;
    border-style: groove;
    color: white;
    float: left;
}

#RightBar{
    background: #c2c2d6; 
    
    
    width: 150px;
    height: 733px;
    
    text-align: center;
    padding: 10px;
    font-family: "Courier New";
    
    border-color: grey;
    border-style: groove;
    
    color: black;
    float: right;
}
*/

#footer {
    background-color: black;
    text-align: center;
    border-color: white;
    border-style: solid;
    color: white;
    font-size: xx-large;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #c2c2d6;
}

li a {
    display: block;
    color: #000;
    padding: 16px 20px 20px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

/**********FOLLOWING CODE BY w3schools.com******************************/

/* Dropdown Button */
.dropbtn {
    color: white;
    background-color: black;
    border: none;
    font-size: x-large;
    cursor: pointer;
    position: fixed;
    margin-left: 10px;
    margin-top: 0px;
    line-height: 25px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: grey;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    overflow:visible;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    background-color: #f1f1f1;
    width: 120px;
    position: fixed;
    color: black;
    padding: 20px;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: grey}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/************END CODE BY w3SCHOOLS.com******************/