/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2016, 9:06:57 PM
    Author     : Chris
*/

#banner {
    border-style: solid;
    border-color: white;
    padding-top: 17px;
    background-image: url("math.jpg");
    color: #991f00;
    font-family: "Times New Roman";
    font-size: 75px;
    text-shadow:            /* By Kyle on http://stackoverflow.com/questions/4919076/outline-effect-to-text*/
    -1px -1px 0 #fff
 
    width: 100%;
    height: 300px;
}
#main {
    padding: 20px 20px 20px 20px;
    font-family: "Trebuchet MS";
    font-size: 23px;

    background-image: url("textback.jpg");
    color: #009999;
    text-shadow:            /* By Kyle on http://stackoverflow.com/questions/4919076/outline-effect-to-text*/
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 

}